body {
	background-image: url(http://curranhennessey.github.io/restaurant/images/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    color: white;
    padding-bottom: 25px;
}

.container {
	background: #e7e7e7;
	padding-top: 10px;
}

h1 {
	color: #3B5992;
}