h1 {
  text-align: center;
}

img {
  width: 100%
}

body {
    background: black;
    background-image: url(http://curranhennessey.github.io/restaurant/images/6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    color: #3B5992;
    padding-bottom: 25px;
    text-align: center; 

}

div {
  color: black;
}

h1 {
  color: #3B5992;
}

.green {
  color: #849E01;
}

.transbox {
  position: relative;
  background-color: white;
  height: 260px;
  margin-top: -250px;
  opacity: 0.5;
  z-index: -1;
}

.container {
  opacity: 1; 
  margin-top: 0;
}


.footer {
  text-align: left;
  padding-left: 25px;
  vertical-align: text-bottom;
}


.footer {   
position:fixed;
   left:0px;
   bottom:150px;
   height:30px;
   width:100%;
   color: white;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}