body {
	background: black;
	background-image: url(http://curranhennessey.github.io/restaurant/images/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    color: white;
    padding-bottom: 25px;
}

.description .emph {
	margin: 0;
	display: inline;
}

.simple-item {
	margin-top: 5px;
	font-weight: bold;
}

.emph {
	font-style: italic;
	margin-bottom: 15px;
}

.compound-item {
	margin-top: 5px;
	font-weight: bold;
}

h2 {
	color: red;
}